extends layout

block content

  .container
    h3= title
    p See below for messages from customers:

    each message in messageDataJSONArray
      div(class="message")
        .row
          div.col-md-3 From: #{ message.name }
          div(class="message-email col-md-3") #{ message.email }
          div.col-md-3 Date and Time: #{ message.dateTime }
          div.col-md-3 #{ message.subscribed }
          div.col-md-12 Message:
          div.col-md-12 #{ message.message }
